body {
    height: 100%;
}

.hide {
    display: none;
}

.card {
    background-color: white;
}

.clear {
    background-color: lightblue;
}

.cloudy {
    background-color: grey;
}

.partlyCloudy {
    background-color: lightgray;
}

.city-btn:hover {
    cursor: pointer;
    background-color: lightblue
}