body, .container-fluid, .content-row {
    height: 100%;
}

.hide {
    display: none;
}

.card {
    background-color: white;
}

.clear {
    background-color: lightblue;
}

.cloudy {
    background-color: grey;
}

.partlyCloudy {
    background-color: lightgray;
}